@import "./utils/variables";
@import "./components/index.html/header";
@import "./components/index.html/nav";
@import "./components/index.html/logo";
@import "./components/index.html/hero";
@import "./components/index.html/benefits";
@import "./components/index.html/work";
@import "./components/index.html/employees";
@import "./components/index.html/user";
@import "./components/index.html/social";
@import "./components/index.html/clients";
@import "./components/index.html/footer";
@import "./components/index.html/contacts";
@import "./components/index.html/connect";
@import "./components/index.html/subscribe";
@import "./components/index.html/modal";
@import "./components/index.html/check";
@import "./components/portfolio.html/examples";
@import "./components/portfolio.html/groop";