.benefits {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        // flex-basis: calc((100% - 2 * 30) / 2);
    }
    
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 30px;


    &__icon {
        display: flex;
        height: 120px;
        margin: 0 auto;
        background-color: #f5f4fa;
        margin-bottom: 30px;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
    }

    &__item {
        
        max-width: 450px;

        @media screen and (min-width:768px) {
            flex-basis: calc((100% - 30px) / 2);
            max-width: 354px;
        }
        @media screen and (min-width:1200px) {
            flex-basis: calc((100% - 90px) / 4);
            max-width: 270px;
        }
    }

    &__title {
        @media screen and (max-width: 767px) {
            text-align: center;
        }

        margin-bottom: 10px;
    
        font-weight: 700;
        font-size: 14px;
        line-height: 1.71;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    
        color: var(--title-text-color);
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: var(--primary-text-color);
    }
}











