
.footer {
    @media screen and (min-width: 320px) {
        align-items: center;
    }
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 60px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }

    &__logo {
        color: var(--primary-wight-color);
    }
}

.footer-subscribe {
    @media screen and (min-width: 767px) and (max-width:1199px) {
        max-width: 450px;
        width: 100%;

    }
    @media screen and (min-width: 1200px) {
        margin-left: auto;
    }

    @media(max-width: 768px) {.footer-subscribe {
        max-width: 450px;
        width: 100%;
        margin: 0 auto;
    }}
    
}

.footer-title {
    @media screen and (min-width: 320px) {
        text-align: center;
        margin-top: 60px;
    }
    margin-top: 11px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.footer__container {
    @media screen and (min-width: 767px) and (max-width:1199px) {

    
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
}
}
.footer-title {
    @media screen and (min-width: 767px) and (max-width:1199px) {
    text-align: center;
    margin-top: 0;
    }
}
