.hero {
    display: flex;
    max-height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background: #C4C4C4;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../images/Img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;

    &__title {
        max-width: 696px;
        margin-right: auto;
        margin-bottom: 30px;
        margin-left: auto;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
    
        text-align: center;
        text-transform: uppercase;
    
        color: var(--primary-wight-color);
    }
}