.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    &__svg-close {
        display: none;
    }

    &.is-open &__svg-close {
        display: block;
    }

    &.is-open &__svg-menu {
        display: none;
    }

    @media screen and (min-width:768px) {
        display: none;
    }

    
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.js-close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
}