.nav {
    display: flex;
    align-items: center;
    &__site {
        @media screen and (max-width: 767px) {
            display: none;
        }
        display: flex;
        margin-left: 93px;
        padding-left: 0;
    }
    &__item {
        letter-spacing: 0.02em;
    }
    &__item + &__item {
        margin-left: 50px;
    }
    &__link {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-top: 0;
        margin-bottom: 0;
    
        color: var(--title-text-color);
        font-size: 14px;
        line-height: 1.14;
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        color: var(--accent-color);
        }
        &--current {
            position: relative;
            color: var(--accent-color);
        }
        &--current::after {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 4px;
            content: '';
            background: #2196F3;
            border-radius: 2px;
        }
    }
}



.auth-nav {
    @media screen and (max-width: 1199px) {
        display: block;
        &_item {
            margin: 0;
        } 
    }

    display: flex;
    margin-left: auto;
    padding-left: 0;

    &__item + &__item {
        margin-left: 50px;
    }
    
    &__item {
        margin-top: 0;
        margin-bottom: 0;
    }
    &__link {
        display: flex;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--primary-text-color);
    
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    &__icon,
    &__icon {
        display: inline-flex;
        align-self: center;
        margin-right: 10px;
        fill: currentColor;
    }
}