.subscribe {
    display: flex;
    align-items: center;

    &__input {
        position: relative;
        padding: 11px 15px 11px 32px;
        font:inherit;
        margin: 0;
        color: #fff;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        width: 358px;
        height: 50px;
        background: none;

        &::placeholder {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &__button {
        margin-left: 12px;
    }

    &__svg {
        margin-left: 10px;
    }
}